@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
 body {
	font-family: 'Droid Sans', sans-serif;
	font-size                 : 11px;
	color                     : #000000;
	background-color          : #FFFFFF;
}

tr, td {
    font-family: 'Droid Sans', sans-serif;
	font-size                 : 11px;
	border-collapse    : collapse;
}
input, textarea{
    margin           : 1px;
	font-size        : 11px;
	font-family      : 'Droid Sans', sans-serif;
	color            : #000000;
	background-color : #FFFFFF;

}
option, select {
    margin           : 1px;
	font-size        : 11px;
	font-family      : 'Droid Sans', sans-serif;
	color            : #000000;
	background-color : #FFFFFF;
}
a, A:link, a:visited, a:active {
    color           : #000000;
    font-weight     : bold;
    font-family     : 'Droid Sans', sans-serif;
    font-size       : 11px ;
}
A:hover {
    color           : #B20B0B;
    text-decoration : none;
    font-family     : 'Droid Sans', sans-serif;
    font-size       : 11px
}
A.headerlink {
    margin           : 1px;
	font-size        : 11px;
	font-family      : 'Droid Sans', sans-serif;
	color       : #FFFFFF;
	
}
.but{
    cursor:pointer;
    border:outset 1px #ccc;
    background:#999;
    color:#666;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg.gif) repeat-x left top;
}
.header {
    border:outset 1px #ccc;
    background:#999;
    color:#FFFFFF;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg2.gif) repeat-x left top;
    border-collapse    : collapse;
    font-size        : 12px;
}
.tab {
    font-family: 'Droid Sans', sans-serif;
	font-size                 : 11px;
	color                     : #000000;
	background-color          : #FFFFFF;
	border            : groove 2px #666666;
	border-collapse    : collapse;
}
.h {
		background-color:#565656;
		border-collapse    : collapse;
		color:#FFFFFF;
    	font-weight:bold;
	}
