/* @charset "utf-8"; */
/* CSS Document */

.mainpagebox {
	border  : 0px;
    width   : 100%;
	height  : 800px;
}

body {
	font-family       : 'Droid Sans', sans-serif;
	font-size         : 12px;
	color             : #000000;
	background-color  : #FFFFFF;
}

.keterangan {
	font-family   : Arial;
	color         : Gray;
	font-size     : 10px;
	font-style    : italic;
}

tr, td {
    font-family  : 'Droid Sans', sans-serif;
	font-size    : 11px;
	color		 : Black ;
}

input, textarea{
    margin           : 1px;
	font-size        : 11px;
	font-family      : 'Droid Sans', sans-serif;
	color            : #000000;
	background-color : #FFFFFF;

}

option, select {
    margin           : 1px;
	font-size        : 11px;
	font-family      : 'Droid Sans', sans-serif;
	color            : #000000;
	background-color : #FFFFFF;
}

a, A:link, a:visited, a:active {
    color           : #000000;
	text-decoration : none;
    font-weight     : bold;
    font-family     : 'Droid Sans', sans-serif;
    font-size       : 11px ;
}

A:hover {
    color           : #B20B0B;
    text-decoration : none;
    font-family     : 'Droid Sans', sans-serif;
    font-size       : 11px
}

A.headerlink {
    margin      : 1px;
	font-size   : 11px;
	font-family : 'Droid Sans', sans-serif;
	color       : #FFFFFF;
}

.but{
    cursor:pointer;
    border:outset 1px #ccc;
    background:#999;
    color:#FFFFFF;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg4.gif) repeat-x left top;
}

.header {
    border:outset 1px #ccc;
    background:#999;
    color:#FFFFFF;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg4.gif) repeat-x left top;
    border-collapse    : collapse;
    font-size        : 12px;
}

.headerlink {
    border:outset 1px #ccc;
    background:#999;
    color:#eefc05;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg4.gif) repeat-x left top;
    border-collapse    : collapse;
    font-size        : 12px;
	cursor:pointer;
}

.greenheader {
    border:outset 1px #ccc;
    background:#999;
    color:#FFFFFF;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg5.gif) repeat-x left top;
    border-collapse    : collapse;
    font-size        : 12px;
}

.redheader {
    border:outset 1px #ccc;
    background:#999;
    color:#FFFFFF;
    font-weight:bold;
    padding: 1px 2px;
    background:url(formbg6.gif) repeat-x left top;
    border-collapse    : collapse;
    font-size        : 12px;
}

.tab {
    font-family: 'Droid Sans', sans-serif;
	font-size                 : 11px;
	color                     : #000000;
	background-color          : #FFFFFF;
	border            : groove 2px #666666;
	border-collapse    : collapse;
}

.h {
	background-color:#565656;
	border-collapse    : collapse;
	color:#FFFFFF;
    font-weight:bold;
}

.contentboxstyle2 {
    border: 0px;
    width: 100%;
	height: 800px;
    margin-bottom: 1em; padding: 0px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10px;
    color: white;
}

.pagetitle {
	font-family:Verdana;
	font-weight:bold;
	font-size:16px;
	color:#666666;
}

.subtitle {
	font-family:Verdana;
	font-weight:bold;
	font-size:12px;
	color:#666666;
}

