﻿body {
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 22px;
	/*scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;*/
}

.MsoNormal {
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	/*font-family: 'Droid Sans', sans-serif;*/
	font-size: 12px;
	line-height: 22px;
}

p {margin:0; padding:0;}

td {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
}

tr {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	height: 16px;
}

pre {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
}

.example1 {
	font-weight: bold;
	font-size: 14px
}

.example2 {
	font-weight: bold;
	font-size: 12px;
	color: #FF0000
}

.tablerow1 {
	background-color: #BBBBBB;
}

thead {
	background-color: #FFBBBB;
}

tfoot {
	background-color: #BBBBFF;
}

th {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
}
