.shadetabs{
    padding: 3px 0;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
    font: 9px 'Droid Sans', sans-serif;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
    display: inline;
    margin: 0;
}

.shadetabs li a{
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 1px;
    border: 1px solid #778;
    color: black;
    background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
    color: black;
}

.shadetabs li a:hover{
    text-decoration: none;
    color: black;
}

.shadetabs li.selected{
    position: relative;
    top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
    background-image: url(shadeactive.gif);
    border-bottom: 0px black;
}

.shadetabs li.selected a:hover{ /*selected main tab style */
    text-decoration: none;
}

.contentstyle{
    border: 1px solid #778;
    width: 90%;
    height: 350px;
    margin-bottom: 1em; padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10px;
    color: black;
    background-color: white;
}
.contentstyle2{
    border: 1px solid #778;
    width: 95%;
    height: 350px;
    margin-bottom: 1em; padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 10px;
    color: black;
    background-color: white;
}
